header,
main {
  border: 1px solid red;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b5998;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.register-button {
  background-color: #42b72a;
  color: white;
  margin: 0 10px;
  border: none;
  height: 20px;
}

.content {
  padding: 0 20%;
  background-color: #e9ebee;
}
